[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = ">=3.0.0a5"
pytz = "*"
requests = "*"
scrapy = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
isort = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.8"
